@import 'tailwindcss';


@theme {
  --color-background-color: #151b1f;        /* Dark background */
--color-surface: #222a32;                 /* Slightly lighter surface (cards/sections) */
--color-surface-light: #2f3541;          /* Even lighter surface for nested cards/elevated elements */
--color-surface-dark: #181f25;
--color-text: #f8fafc;                   /* Main text */
--color-subtle: #bac3cc;                 /* Subtle/secondary text */
--color-accent: #f85217;                 /* Accent blue */
--color-accent-dark: #df4a15;            /* Darker blue on hover ✅ fixed */
--color-accent-light: #f9632e;
--color-accent-hover: #eb571a;           /* Darker blue on hover ✅ fixed */
--color-border: #2f3541;                 /* Border gray */
--animate-rotate-border: border-rotate 3s linear infinite;
@keyframes border-rotate {
  to{
    --border-angle: 360deg;
  }
}
}
@property --border-angle{
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;

}


/* 
.bg-background-color {
  background-color: var(--background-color);
}

.bg-surface {
  background-color: var(--color-surface);
}

.text-text {
  color: var(--color-text);
}

.text-subtle {
  color: var(--color-subtle);
}

.text-accent {
  color: var(--color-accent);
}

.text-accent-hover {
  color: var(--color-accent-hover);
}

.border-border {
  border-color: var(--color-border);
}

 .hover\:text-accent-hover:hover {
    color: var(--color-accent-hover);
  } */