@import 'tailwindcss';


@theme {
  --color-background-color: #05161A;        /* Dark background */
--color-surface: #072E33;                 /* Slightly lighter surface (cards/sections) */
--color-surface-light: #0A3D43;          /* Even lighter surface for nested cards/elevated elements */
--color-text: #f8fafc;                   /* Main text */
--color-subtle: #6DA5C0;                 /* Subtle/secondary text */
--color-accent: #0F969C;                 /* Accent blue */
--color-accent-dark: #0C7075;            /* Darker blue on hover ✅ fixed */
--color-accent-hover: #0C7075;           /* Darker blue on hover ✅ fixed */
--color-border: #294D61;                 /* Border gray */
}



/* 
.bg-background-color {
  background-color: var(--background-color);
}

.bg-surface {
  background-color: var(--color-surface);
}

.text-text {
  color: var(--color-text);
}

.text-subtle {
  color: var(--color-subtle);
}

.text-accent {
  color: var(--color-accent);
}

.text-accent-hover {
  color: var(--color-accent-hover);
}

.border-border {
  border-color: var(--color-border);
}

 .hover\:text-accent-hover:hover {
    color: var(--color-accent-hover);
  } */